{% extends "main/base.html" %}

{% block title %}
Новая страница
{% endblock %}
{% block content %}
<body>


    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Новая страница с альтернативными формами</h1>
      <p class="fs-5 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla felis libero, volutpat non porta id, bibendum eu velit. Duis elementum quam non arcu molestie bibendum. In hac habitasse platea dictumst. Integer nisi velit, mattis eu condimentum vel, aliquet ut magna. Fusce est augue, cursus a felis eget, semper tempor erat. Nam nec elit a erat varius eleifend. Sed tincidunt dolor vitae feugiat convallis. Integer dictum eros dolor, lobortis laoreet leo viverra ut. Integer sed enim non enim fringilla efficitur ac eu lorem. Proin bibendum augue vel sodales commodo. Mauris dapibus scelerisque mi, in finibus elit tempor a. In posuere lorem dolor, in tincidunt nisi lacinia a.</p>
    </div>
    {% if comments %}
    {% for i in comments %}
    <div class="alert alert-primary mt-2">
        <h3>{{i.name}}</h3>
        <p>{{i.message}}</p>

    </div>
    {% endfor %}
    {% else%}
        <p>No comments at this moment</p>
    {% endif %}

    <h4>Comments</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.name }}
        {{ form.message }}
      <input type="text" placeholder="Enter name" class="form-control"><br>
      <textarea type="text" placeholder="Enter message" class="form-control"></textarea><br>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">© 2022–2022</small>
      </div>
      <div class="col-6 col-md">
        <h5>Основное</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'home' %}">Главная</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'about' %}">Про нас</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'create' %}">Создание задачи</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Всякое</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'new_page' %}">Новая страница</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/new_url">Новый URL</a></li>
        </ul>
      </div>

    </div>
  </footer>

</body>

{% endblock %}